{% extends 'base.html' %}
{% block title %}登录{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-6">
    <div class="card shadow-sm border-0 p-4">
      <h4 class="mb-3">登录公司系统</h4>
      <form method="post">
        <div class="mb-3"><label class="form-label">公司名称</label><input class="form-control" name="company_name" required></div>
        <div class="mb-3"><label class="form-label">用户名</label><input class="form-control" name="username" required></div>
        <div class="mb-3"><label class="form-label">密码</label><input type="password" class="form-control" name="password" required></div>
        <button class="btn btn-primary w-100">登录</button>
      </form>
      <hr>
      <a class="btn btn-outline-dark w-100" href="{{ url_for('site_admin_login') }}">网站管理员入口</a>

    </div>
  </div>
</div>
{% endblock %}
